body{
  font-family: "Poppins", sans-serif;
  background: rgb(21, 6, 36);
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/island\ view.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    text-align: center;
    padding: 200px 0;
}
header h1 {
   font-size: 96px;
   line-height: 1.5;
   letter-spacing: 3px;
   margin: 0;
}
header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 4px;
    margin: 0;
}
header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: blueviolet;
    padding: 16px 32px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
    letter-spacing: 1px;
}
main {
    background-color: beige;
}
main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 3px;
    color: rgb(28, 4, 49);
    opacity: 0.3;
    text-transform: uppercase;
}
main h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: rgb(28, 4, 49);
    margin: 0;
}
main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: rgb(28, 4, 49);
}
main h5 {
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    color: rgb(28, 4, 49);

}
main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(28, 4, 49);
    opacity: 0.7;
}
footer{
    background-image: linear-gradient(rgba(14, 3, 24, 0.9), rgba(14,3,24,0.9)), url(../images/flowersforproject.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
   
}
footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
footer h4 {
    text-align: center;
}
footer p {
     font-weight: 400;
     font-size: 16px;
     opacity: 0.7;
     line-height: 24px;
}
footer ul{
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: beige;
    opacity: 0.7;
}
section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}
section.secondary {
    background: #f8f8f8;
}
.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.grid{
    display: grid;
    grid-gap: 64px;
}
.grid-2-columns{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
}
.grid-with-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-coloumns {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-with-3-coloumns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.embed {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.card {
    background: beige;
    margin: 30px 0;
}
.card-header.grid {
    grid-gap: 0;
}
.card-body {
    padding: 30px;
}
.card-footer {
    padding: 0 30px 30px;
}
.img-responsive {
    width: 100%;
    display: block;
}
.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.grid-map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.btn {
    display: block;
    color: beige;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 16px;
    background-color:rgb(28, 4, 49); 
    text-decoration: none;
}
@media (max-width: 900px){
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 48px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }
    section {
        padding: 30px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    .grid-image {
        display: none;
    }
    .embed {
        aspect-ratio: 16 / 9;
    }
}


